@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap');
*{
    margin: 10;
    padding: 0;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 25%;
}

.apresentacao__conteudo{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

body{
    box-sizing: border-box;
    height: 100vh;
    background-color:  #030000;
    color: #c5c5c5;
}
.tituloDestaque{
    color: rgba(33, 171, 235, 0.87);
}

.apresentacao__conteudo__Titulo{
    font-weight: bold;
    font-size: 36px;
    padding: 3.5%;
    font-family: "Krona One", sans-serif;
}

span{
    display: flex;
    justify-content: center;
    color: rgba(14, 126, 218, 0.822);
    border: 3px solid #32d5eb73;
    font-family: "Krona One", sans-serif;
    
    
}
.subtitulo{
    color: rgba(202, 202, 202, 0.781);
    font-size: 20px;
    font-family: "Krona One", sans-serif;
    padding: 25px;


}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link{
    background-color: #14eaf1d5;
    color: aliceblue;
    text-align: center;
    width: 100px;
    border-radius: 16px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    padding: 21.5px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 0 5px #2012a0, 0 0 5px #12e4f3; ;
}

.imagem{
    width: 700px;
    height: 700px;
    border-radius: 30px;
    border: 5px solid #17f7ff;
    box-shadow: 0 0 35px #00ccff, 0 0 35px #3301bd; ;
    display: block; 
    margin: 20px auto;
}